<div class="row">
	<button type="button" class="btn btn-default"><%= link_to 'Back to sermon list', media_path %></button>
	<h2>A Sermon on <%= @medium.pillar_as_title %></h2>
	<div class="col-md-8 ">
	<div class="panel panel-default">
	  <div class="panel-heading"><h3><%= @medium.title %></h3></div>
	  <div class="panel-body">
	    <audio controls>
	      <source src=<%= @medium.link %> type="audio/mpeg">
	  	  Unfortunately, your browser does not support the audio element.
		</audio>
		<ul class="nav horizontal">
		 <% if !@medium.latest? && @medium.next %>
		  <li><%= link_to "Next Sermon", @medium.next %></li>
		 <% end %>
		 <% if @medium.previous %>
		  <li><%= link_to "Previous Sermon", @medium.previous %></li>
		<% end %>  
		</ul>
	  </div>
	</div>	
	</div>
	<div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3>More sermons on <%= @medium.pillar_as_title %></h3>
	  </div>
	  <div class="panel-body">
	    <ul class="list-group">
	  	<% @media.each do |medium| %>
	      <li class="list-group-item"><h4><%= link_to medium.title + ": a sermon on " + medium.pillar_as_title, medium  %></h4></li>
	  	<% end %>
	    </ul>
	  </div>
	</div>
</div>
</div>